USE [Fabrica]
GO
/****** Object:  StoredProcedure [dbo].[CursPF]    Script Date: 3/19/2017 3:03:53 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[CursPF]
AS
BEGIN
	DECLARE CursorPF CURSOR FOR
	SELECT TABLE_NAME FROM INFORMATION_SCHEMA.TABLES
		OPEN CursorPF
		DECLARE @numeTabel VARCHAR(50)
		DECLARE @numeConstExt VARCHAR(50)
		DECLARE @numeConstPrim VARCHAR(50)
		DECLARE @nrCheiExt INT
		DECLARE @nrCheiPrim INT
		DECLARE @query NVARCHAR(500)
		FETCH NEXT FROM CursorPF INTO @numeTabel
		WHILE @@FETCH_STATUS=0
		BEGIN
			SELECT @nrCheiExt=COUNT(*)
			FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS Tab, INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE Col
			WHERE
			Col.CONSTRAINT_NAME=Tab.CONSTRAINT_NAME AND Col.TABLE_NAME=Tab.TABLE_NAME AND CONSTRAINT_TYPE='FOREIGN KEY' AND Tab.TABLE_NAME=@numeTabel



			SELECT @nrCheiPrim=COUNT(*)
			FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS Tab, INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE Col
			WHERE
			Col.CONSTRAINT_NAME=Tab.CONSTRAINT_NAME AND Col.TABLE_NAME=Tab.TABLE_NAME AND CONSTRAINT_TYPE='PRIMARY KEY' AND Tab.TABLE_NAME=@numeTabel

			IF @nrCheiExt>=2 AND @nrCheiPrim=2
			BEGIN
				SELECT @numeConstExt=Col.CONSTRAINT_NAME
				FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS Tab, INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE Col
				WHERE
				Col.CONSTRAINT_NAME=Tab.CONSTRAINT_NAME AND Col.TABLE_NAME=Tab.TABLE_NAME AND CONSTRAINT_TYPE='FOREIGN KEY' AND Tab.TABLE_NAME=@numeTabel

				SELECT @numeConstPrim=Col.CONSTRAINT_NAME
				FROM INFORMATION_SCHEMA.TABLE_CONSTRAINTS Tab, INFORMATION_SCHEMA.CONSTRAINT_COLUMN_USAGE Col
				WHERE
				Col.CONSTRAINT_NAME=Tab.CONSTRAINT_NAME AND Col.TABLE_NAME=Tab.TABLE_NAME AND CONSTRAINT_TYPE='PRIMARY KEY' AND Tab.TABLE_NAME=@numeTabel

				PRINT @numeTabel
				PRINT @numeConstExt
				PRINT @numeConstPrim


				SET @query =N'ALTER TABLE ' +@numeTabel+' DROP CONSTRAINT '+ @numeConstExt

				EXEC sp_executesql @query

				SET @query=N'ALTER TABLE '+@numeTabel+' DROP CONSTRAINT '+@numeConstPrim

				EXEC sp_executesql @query

			END

			FETCH NEXT FROM CursorPF INTO @numeTabel
		END
		CLOSE CursorPF
		DEALLOCATE CursorPF
END
GO
